<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:background="@android:color/background_light"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:scrollbars="none"
    android:layout_weight="1">
    <TableLayout
        android:layout_height="fill_parent"
        android:layout_width="fill_parent"
        android:stretchColumns="1">
        <ImageView
            android:src="@drawable/leagueicon"
            android:layout_width="75.5dp"
            android:layout_height="57.5dp"
            android:id="@+id/imgUserIcon" />
        <EditText
            android:id="@+id/txtName"
            android:textColor="@android:color/black"
            android:textSize="10dp"
            android:hint="Enter Summoner Name"
            android:text=""
            android:layout_width="match_parent"
            android:focusable="true"
            android:focusableInTouchMode="true" />
        <Button
            android:text="Retrieve Last 10 Games"
            android:layout_width="match_parent"
            android:paddingLeft="10dp"
            android:paddingRight="10dp"
            android:id="@+id/btnSearch" />
        <TableRow>
            <TextView
                android:textColor="@android:color/black"
                android:layout_column="1"
                android:text="Match ID: "
                android:id="@+id/txtMatchID1"
                android:padding="5dip"
                android:visibility="gone" />
            <Button
                android:text="Details"
                android:id="@+id/btnMatch1"
                android:layout_marginRight="5dip"
                android:visibility="gone" />
        </TableRow>
        <TableRow>
            <TextView
                android:textColor="@android:color/black"
                android:layout_column="1"
                android:text="Match ID: "
                android:id="@+id/txtMatchID2"
                android:padding="5dip"
                android:visibility="gone" />
            <Button
                android:text="Details"
                android:id="@+id/btnMatch2"
                android:layout_marginRight="5dip"
                android:visibility="gone" />
        </TableRow>
        <TableRow>
            <TextView
                android:textColor="@android:color/black"
                android:layout_column="1"
                android:text="Match ID: "
                android:id="@+id/txtMatchID3"
                android:padding="5dip"
                android:visibility="gone" />
            <Button
                android:text="Details"
                android:id="@+id/btnMatch3"
                android:layout_marginRight="5dip"
                android:visibility="gone" />
        </TableRow>
        <TableRow>
            <TextView
                android:textColor="@android:color/black"
                android:layout_column="1"
                android:text="Match ID: "
                android:id="@+id/txtMatchID4"
                android:padding="5dip"
                android:visibility="gone" />
            <Button
                android:text="Details"
                android:id="@+id/btnMatch4"
                android:layout_marginRight="5dip"
                android:visibility="gone" />
        </TableRow>
        <TableRow>
            <TextView
                android:textColor="@android:color/black"
                android:layout_column="1"
                android:text="Match ID: "
                android:id="@+id/txtMatchID5"
                android:padding="5dip"
                android:visibility="gone" />
            <Button
                android:text="Details"
                android:id="@+id/btnMatch5"
                android:layout_marginRight="5dip"
                android:visibility="gone" />
        </TableRow>
        <TableRow>
            <TextView
                android:textColor="@android:color/black"
                android:layout_column="1"
                android:text="Match ID: "
                android:id="@+id/txtMatchID6"
                android:padding="5dip"
                android:visibility="gone" />
            <Button
                android:text="Details"
                android:id="@+id/btnMatch6"
                android:layout_marginRight="5dip"
                android:visibility="gone" />
        </TableRow>
        <TableRow>
            <TextView
                android:textColor="@android:color/black"
                android:layout_column="1"
                android:text="Match ID: "
                android:id="@+id/txtMatchID7"
                android:padding="5dip"
                android:visibility="gone" />
            <Button
                android:text="Details"
                android:id="@+id/btnMatch7"
                android:layout_marginRight="5dip"
                android:visibility="gone" />
        </TableRow>
        <TableRow>
            <TextView
                android:textColor="@android:color/black"
                android:layout_column="1"
                android:text="Match ID: "
                android:id="@+id/txtMatchID8"
                android:padding="5dip"
                android:visibility="gone" />
            <Button
                android:text="Details"
                android:id="@+id/btnMatch8"
                android:layout_marginRight="5dip"
                android:visibility="gone" />
        </TableRow>
        <TableRow>
            <TextView
                android:textColor="@android:color/black"
                android:layout_column="1"
                android:text="Match ID: "
                android:id="@+id/txtMatchID9"
                android:padding="5dip"
                android:visibility="gone" />
            <Button
                android:text="Details"
                android:id="@+id/btnMatch9"
                android:layout_marginRight="5dip"
                android:visibility="gone" />
        </TableRow>
        <TableRow>
            <TextView
                android:textColor="@android:color/black"
                android:layout_column="1"
                android:text="Match ID: "
                android:id="@+id/txtMatchID10"
                android:padding="5dip"
                android:visibility="gone" />
            <Button
                android:text="Details"
                android:id="@+id/btnMatch10"
                android:layout_marginRight="5dip"
                android:visibility="gone" />
        </TableRow>
    </TableLayout>
</ScrollView>